extends ../layouts/default.pug

block content
  #author-deck
    h1 #{name}
    form#create-deck-form(data-url="/v1/links")
      input(type="hidden", name="deckId", value=id)
      .header Title
      .value
        input(type="text", name="name")

      .header Comment (optional)
      .value
        input(type="text", name="comment")

      .header Link
      .value
        input(type="text", name="link")

      button(type="submit") Save

  #cards
    | @todo: added links here

  button#publish-deck(type="submit") Publish Deck

  script.
    $('#create-deck-form').on('submit', function (e) {
      e.preventDefault();

      const self = $(this);

      REQUEST({
        method: 'POST',
        url: self.data('url'),
        data: FORM_DATA(self)
      }, function (error, response) {
        if (error) {
          console.log(error);
          return alert('Something went wrong!');
        }

        self.trigger('reset');
      });
    });

    $('#publish-deck').on('click', function (e) {
      e.preventDefault();

      const self = $(this);

      REQUEST({
        method: 'POST',
        url: '/v1/decks/#{id}/publish',
        data: FORM_DATA(self)
      }, function (error, response) {
        if (error) {
          console.log(error);
          return alert('Something went wrong!');
        }

        console.log(response);
      });
    });
