extends ../layouts/default.pug

block styles
  style(type='text/css').
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    #login-btn {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      text-decoration: none;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.42857143;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      display: block;
      width: 250px;
      position: relative;
      padding-left: 44px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #fff;
      background-color: #444;
      border-color: rgba(0,0,0,0.2);
      margin-top: 5px;
    }

    #login-btn:hover {
      color: #fff;
      background-color: #2b2b2b;
      border-color: rgba(0,0,0,0.2);
    }

    #login-btn span {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      color: #fff;
      box-sizing: border-box;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      line-height: 40px;
      font-size: 1.6em;
      text-align: center;
      border-right: 1px solid rgba(0,0,0,0.2);
    }

block content
  .wrapper
      a#login-btn(href="/authorize")
        span.fa.fa-github
        | Sign in with Github
