extends ../../layouts/default.pug

block styles
  style(type='text/css').
    h2 {
      font-weight: 700;
      font-size: 30px;
    }

    #create-deck {
      padding: 30px;
      margin-top: 40px;
      margin-left: 30%;
      margin-right: 30%;
    }

    #create-deck-form .header {
      font-weight: 200;
      font-size: 15px;
      opacity: 0.5;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    #create-deck-form button {
      padding: .75em 1.6em .7em;
      background: linear-gradient(91.14deg,#3c5af3 0,#8253ff 122.55%);
      border: none;
      color: #fff;
      font-weight: bolder;
      cursor: pointer;
      transition: box-shadow 120ms,background-color 120ms;
      box-shadow: 0 0.1rem 0.1rem transparent;
      text-align: center;
      border-radius: 3px;
      font-size: 20px;
      margin-top: 25px;
      width: 100%;
    }

    #create-deck-form button:hover {
      background: linear-gradient(91.14deg,#8253ff 0,#3c5af3 122.55%);
      box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,.3);
      outline: 0;
    }


block content
  #create-deck
    h2 Create a new deck
    hr
    form#create-deck-form(data-url="/v1/decks")
      .header Unique deck name
      .value
        input(type="text", name="name")

      .header Short description
      .value
        input(type="text", name="description")

      .header Category
      .value
        select(name="category")
          option(value="tech") Tech
          option(value="business") Business
          option(value="other") Other

      button(type="submit") Create


block scripts
  script.
    $('#create-deck-form').on('submit', function (e) {
      e.preventDefault();

      const self = $(this);

      REQUEST({
        method: 'POST',
        url: self.data('url'),
        data: FORM_DATA(self)
      }, function (error, response) {
        if (error) {
          console.error(error);
          return alert('Something went wrong!');
        }

        window.location = '/create/' + response.data.id;
      });
    });
