extends ../../layouts/default.pug

block content
  #create-deck
    h1 Create a new deck
    form#create-deck-form(data-url="/v1/decks")
      .header Deck name
      .value
        input(type="text", name="name")

      .header Description (optional)
      .value
        input(type="text", name="description")

      .header Category
      .value
        input(type="text", name="category")

      .header Type
      .value
        input(type="text", name="type")

      button(type="submit") Create

  script.
    $('#create-deck-form').on('submit', function (e) {
      e.preventDefault();

      const self = $(this);

      REQUEST({
        method: 'POST',
        url: self.data('url'),
        data: FORM_DATA(self)
      }, function (error, response) {
        if (error) {
          console.log(error);
          return alert('Something went wrong!');
        }

        window.location = '/create/' + response.data.id;
      });
    });
