extends ../../layouts/default.pug

block content
  #list-decks
    ul
      each deck in decks
        li
          div name: #{deck.name}
          div description: #{deck.description}
          div type: #{deck.type}
          div category: #{deck.category}
